<div class="container d-flex justify-content-center align-items-center mt-3">
  <div class="row col-12">
    <div class="col-10 offset-md-1">
      <div class="card shadow">
        <div class="card-body">
          <div class="d-flex flex-column">
            <div class="ms-5">
              <form class="" action="/in-house-db/search/" method="GET">
                <div class="row justify-content-center">
                  <div class="form-group row">
                    <input class="col-6 me-3" type="search" id="searchGnomen" name="searchGnomen" placeholder="gNomen"
                      maxlength="200">
                    <button id="searchGnomenBtn" class="btn btn-outline-primary col-5 strong">Search gNomen</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="ms-5">
              <form class="mt-3" action="/in-house-db/search" method="GET">
                <div class="row justify-content-center">
                  <div class="form-group row">
                    <input class="col-6 me-3" type="search" id="searchGeneRefGene" name="searchGeneRefGene"
                      placeholder="Gene" maxlength="200">
                    <button id="searchGeneRefGeneBtn" class="btn btn-outline-primary col-5 strong">Search
                      Gene</button>
                  </div>
                </div>
              </form>
              <h5 class="mt-4"><strong>The number of the entries in the in-house db: <%= numberOfDbEntries %> </strong>
              </h5>
              <% if (searched) { %>
                <p class="mt-3 strong"> The searched category has been: <em>"<%= searchedCategory %>"</em>
                </p>
                <p class="mt-3 strong"> The searched expression has been: <em>"<%= searchedExp%>"</em></p>
                <p class="mt-3 strong"> The number of found positions: <em> <%= numberOfFoundPositions %> </em>
                </p>
                <p class="mt-3 strong"> The fulltext search in the results: * <%-
                    include("../partials/search-on-results") %>
                </p>
                <p>* Searches all the rows and columns including the detailed data content. Search is case insensitive.
                </p>
                <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>