<% layout("layouts/index") %>
  <h1>NGS comments</h1>
  <a href="/ngs-com/new-comment" class="btn btn-lg btn-outline-primary strong mt-3">+ Create a new comment</a>
  <div class="accordion mt-3" id="accordionExample">
    <% for (let comment of data) { %>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#<%= comment.name.replace(/ /g,'') %>" aria-expanded="false"
            aria-controls="<%= comment.name.replace(/ /g,'') %>">
            <a class="edit ms-2" href="/ngs-com/edit/<%= comment._id %>"><i class="me-3 text-primary"
                data-feather="edit"></i></a>
            <a class="delete" href="/ngs-com/delete/<%= comment._id %>"><i class="text-danger"
                data-feather="trash-2"></i></a>
            <strong class="ms-auto">
              <%= comment.name %>
            </strong>
          </button>
        </h2>
        <div id="<%= comment.name.replace(/ /g,'') %>" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <strong>
              <%- comment.content %>
            </strong>
          </div>
        </div>
      </div>
      <% } %>
  </div>