<% layout("layouts/index") %>
  <h1 class="mt-2">In-house database</h1>
  <a href="/in-house-db/import-data" class="btn btn-lg btn-outline-primary strong mt-3">+ Import data</a>
  <%- include("../partials/search-db") %>
</main>
<div class="d-flex justify-content-center">
  <div class="table-responsive-xxl">
      <table class="table mt-3 ms-1 me-1" id="gene-positions">
        <thead>
          <tr>
            <th scope="col">Detail</th>
            <th scope="col">Chr</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Ref</th>
            <th scope="col">Alt</th>
            <th scope="col">gNomen</th>
            <th scope="col">Gene</th>
            <th scope="col">AfGnomad</th>
            <th scope="col">Clinvar</th>
            <th class="highlighted" scope="col">HomVar</th>
            <th class="highlighted" scope="col">HetRef</th>
            <th class="highlighted" scope="col">HetOther</th>
            <th class="highlighted" scope="col">HomRef</th>
            <th class="highlighted" scope="col">NoCall</th>
            <th class="highlighted" scope="col">OtherGt</th>
            <th scope="col">Var</th>
            <th scope="col">Called</th>
            <th scope="col">Qual</th>
            <th scope="col">Ac</th>
            <th class="highlighted" scope="col">Af</th>
          </tr>
        </thead>
        <tbody>
          <% for (let gene of data) { %>
            <tr class="searched-row">
              <td>
                <a class="btn btn-danger" data-bs-toggle="collapse" href="#<%= gene.GNomen %>" role="button"> ... </p>
              </td>
              <td>
                <%= gene.Chr %>
              </td>
              <td>
                <%= gene.Start %>
              </td>
              <td>
                <%= gene.End %>
              </td>
              <td>
                <%= gene.Ref %>
              </td>
              <td>
                <%= gene.Alt %>
              </td>
              <td>
                <%= gene.GNomen %>
              </td>
              <td>
                <%= gene.GeneRefGene %>
              </td>
              <td>
                <%= gene.AfGnomad %>
              </td>
              <td>
                <%= gene.Clinvar %>
              </td>
              <td>
                <%= gene.HomVar %>
              </td>
              <td>
                <%= gene.HetRef %>
              </td>
              <td>
                <%= gene.HetOther %>
              </td>
              <td>
                <%= gene.HomRef %>
              </td>
              <td>
                <%= gene.NoCall %>
              </td>
              <td>
                <%= gene.OtherGt %>
              </td>
              <td>
                <%= gene.Var %>
              </td>
              <td>
                <%= gene.Called %>
              </td>
              <td>
                <%= gene.Qual %>
              </td>
              <td>
                <%= gene.Ac %>
              </td>
              <td>
                <%= gene.Af %>
              </td>
            </tr>
            <tr id="<%= gene.GNomen %>" class="collapse searched-hidden-row hidden-content">
              <td colspan="21">
                <div>
                  <p><strong>FuncRefGene: </strong> <%=gene.FuncRefGene%>
                  </p>
                  <p><strong>InterVarAutomated: </strong> <%= gene.InterVarAutomated %>
                  </p>
                  <p><strong>HomVarSamples: </strong> <%= gene.HomVarSamples %>
                  </p>
                  <p><strong>HetRefSamples: </strong> <%= gene.HetRefSamples %>
                  </p>
                  <p><strong>HetOtherSamples: </strong> <%= gene.HetOtherSamples %>
                  </p>
                  <p><strong>HomRefSamples: </strong> <%= gene.HomRefSamples %>
                  </p>
                  <p><strong>NoCallSamples: </strong> <%= gene.NoCallSamples %>
                  </p>
                  <p><strong>OtherGtSamples: </strong> <%= gene.OtherGtSamples %>
                  </p>
                </div>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>

    <!-- Filter the table -->
    <script src="/assets/javascripts/search-result-table.js"></script>