<% layout("layouts/index") %>

<% layout("layouts/index") %>
  <h1 class="mt-2">In house database</h1>
  <a href="/in-house-db/import" class="btn btn-lg btn-outline-primary strong mt-3">+ Import data</a>
  <%- include("../partials/searchDb") %>
  <table class="table table-hover mt-3 mb-5" id="to-do-list">
    <thead>
      <tr>
        <th scope="col">Chr</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Ref</th>
        <th scope="col">Alt</th>
        <th scope="col">gNomen</th>
        <th scope="col">FuncRefGene</th>
        <th scope="col">GeneRefGene</th>
        <th scope="col">AfGnomad</th>
        <th scope="col">InterVarAutomated</th>
      </tr>
    </thead>
    <tbody>
      <% for (let gene of data) { %>
        <tr>
          <td>
            <%= gene.Chr %>
          </td>
          <td>
            <%= gene.Start %>
          </td>
          <td>
            <%= gene.End %>
          </td>
          <td>
            <%= gene.Ref %>
          </td>
          <td>
            <%= gene.Alt %>
          </td>
          <td>
            <%= gene.GNomen %>
          </td>
          <td>
            <%= gene.FuncRefGene %>
          </td>
          <td>
            <%= gene.GeneRefGene %>
          </td>
          <td>
            <%= gene.AfGnomad %>
          </td>
          <td>
            <%= gene.InterVarAutomated %>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>